<a href="https://colab.research.google.com/github/MrSingh6435/Working-with-R-Programming/blob/main/R_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# **Learn R Programming**
---
 - Basics Example to Understand R
 - Reading and Writing to File
 - Simple plotting
 - Multi-criteria decision making (MCDM) using Topsis
 - Model Evaluation Parameters for Regression and Classification using R

### **Self learning resource**
- Tutorial on R **<a href="https://www.w3schools.com/r/" target="_blank"> Click Here</a>**

---
# **1. Simple Examples**
---
## **1.1 Addition of two numbers**
---

In [22]:
2 + 2                 # Addition

[1] 4

---
## **1.2 Addition of two numbers**
---

In [23]:
a = 10                  # To assign
b = 20
c = a + b                 # Addition
c

[1] 30

In [24]:
# To Print
cat(c)

30

In [25]:
# To Print
print(c)

[1] 30

---
## **1.3 Use of function**
---

In [26]:
# Exponential function
exp(-200)

[1] 1.383897e-87

In [27]:
# Log Function
log(100, base = 10)

[1] 2

---
## **1.4 Generate Random Number**
---

In [28]:
# Generate one random numbers between 0 and 1
runif(1)

[1] 0.4815544

In [29]:
# Generate five random numbers between 0 and 1
round(runif(5),3)

[1] 0.047 0.989 0.919 0.138 0.360

In [30]:
# Generate five random numbers between 1 and 5
runif(5, min = 1, max = 5)

[1] 1.321340 3.969674 2.431628 2.118649 2.121954

In [31]:
# Get the type of a variable
N <- runif(5)
N
class(N)

[1] 0.8826064 0.7996310 0.1785249 0.2342222 0.1960589

[1] "numeric"

---
## **1.5 Basics operations**
---

In [32]:
cat("N   : ",N)
cat("\nMin : ",min(N))          # Min
cat("\nMax : ",max(N))          # Max
cat("\nSum : ",sum(N))          # Sum
cat("\nMean: ",mean(N))         # Mean
cat("\nSD  : ",sd(N))           # Standad Deviation

N   :  0.8826064 0.799631 0.1785249 0.2342222 0.1960589
Min :  0.1785249
Max :  0.8826064
Sum :  2.291043
Mean:  0.4582087
SD  :  0.3513538

---
## **1.6 Loop**
---

In [33]:
# Print 1 to 10
for ( i in 1:10){
  cat (i,"\n")
}

1
2
3
4
5
6
7
8
9
10

In [34]:
# Print 10 random number between 1 and 100 using loop
for ( i in 1:10){
  cat (i, "-->", round(runif(1,min=1,max=100),0), "\n")
}

1 --> 24
2 --> 72
3 --> 36
4 --> 59
5 --> 7
6 --> 47
7 --> 23
8 --> 98
9 --> 64
10 --> 39

In [35]:
# Print 10 random number between 1 and 100
N = round(runif(10, min=1, max=100), 0)
cat(N)

86 74 88 69 12 67 19 25 78 33

---
## **1.7 If-Else**
---

In [36]:
# If-else
i=20
if (i==20){
  cat("Yes")
}else{
  cat("NO")
}

Yes

In [37]:
# Error: If-else
i=20
if (i==20){
  cat("Yes")
}
else{
  cat("NO")
}

ERROR: Error in parse(text = x, srcfile = src): <text>:6:1: unexpected 'else'
5: }
6: else
   ^

In [21]:
# If-else
a = 10
b = 20
if (a > b){
  cat(a, " is Greater")
}else{
  cat(b, " is Greater")
}

20  is Greater

---
## **1.8 Some More Examples**
---

In [38]:
# Actual
Actual <- round(runif(100, min = 1, max = 5),2)
Actual
class(Actual)

  [1] 4.45 3.75 1.57 2.81 2.70 4.68 1.35 1.03 3.38 3.37 3.59 4.58 3.43 1.60 1.87
 [16] 1.78 4.39 4.90 3.60 3.46 1.78 1.21 4.89 3.19 2.28 3.83 3.25 3.13 1.20 4.03
 [31] 2.69 2.27 4.58 4.87 4.30 3.59 1.75 1.63 4.68 4.68 1.49 1.33 3.66 3.04 1.08
 [46] 2.62 2.24 3.72 1.98 3.79 1.04 4.12 1.94 4.32 4.67 3.48 4.84 2.54 1.80 2.59
 [61] 1.58 3.57 4.83 4.37 3.43 4.22 2.78 3.21 2.47 4.00 4.51 3.68 4.75 1.89 3.19
 [76] 2.94 1.24 1.44 4.07 2.64 4.86 3.71 5.00 1.76 1.26 4.46 4.87 3.05 3.23 1.20
 [91] 3.92 3.85 1.57 3.66 4.13 4.76 4.95 3.31 1.46 3.04

[1] "numeric"

In [ ]:
# Use of Head
head(Actual)
head(Actual,10)
head(Actual,20)

In [ ]:
# Predicted
Predicted <- round(runif(100, min = 1, max = 5),2)
head(Predicted)

---
## **1.9 Basic Operations (Difference, SOD, MAE, Correlation)**
---

In [ ]:
# Difference
D = Actual - Predicted
cat(D)

In [ ]:
# Sum of Difference (SOD)
SOD = sum(Actual-Predicted)
cat(SOD)

In [ ]:
# Correlation
COR = cor(Actual, Predicted)
cat(COR)

In [ ]:
# Mean Absolute Error (MAE)
MAE = mean(abs(Actual-Predicted))
cat(MAE)

In [ ]:
# Accuracy with 0.1 acceptable error
Accuracy = abs(Actual-Predicted) > 0.1
cat(Accuracy)

Accuracy = mean(Accuracy)*100
Accuracy

---
## **1.10 Writing to the file**
---

In [ ]:
# Get the Current Working Directory, Similar to pwd in linux
getwd()

In [ ]:
# Writing actual and predicted to a file
write.csv(data.frame(Actual,Predicted), file="SampleData.csv", row.names=FALSE)
# Go to the path and check for file

---
## **1.11 Read Actual/Predicted file and calculate the model evaluation parameters**
---

In [ ]:
# Get the Current Working Directory, Similar to pwd in linux
getwd()

In [ ]:
# Read the datafile
dataset <- read.csv("SampleData.csv")
print(head(dataset))

In [ ]:
# Get the column data from datafile
cat ("Actual-->", head(dataset$Actual))
cat ("\nPredicted-->", head(dataset$Predicted))

In [ ]:
# Calcuate the model evaluation parameters and write to file

# Correlation
COR = round(cor(Actual,Predicted),2)

# R_Square
R_Square = round(COR * COR,2)

# Mean Absolute Error (MAE)
MAE = round(mean(abs(Actual-Predicted)),2)

# Accuracy with 0.1 acceptable error
Accuracy = round(mean(abs(Actual-Predicted) > 0.1),2)*100

# Writing the modle evaluation parameters to a file
write.csv(data.frame(COR, R_Square, MAE, Accuracy), file="ResultFile.csv", row.names=FALSE)
# Go to the path and check for file

---
# **2. Basics of Data frame**
---
## **2.1 Generate random matrices**
---

In [ ]:
# Generate a matrix of 100 by 3

NRows = 100
NCols = 3

m1 <- matrix(runif(NCols * NRows, min=1, max=10), ncol=NCols)
class(m1)
head(m1)

In [ ]:
# Generate two more matrices
NCols = 4
m2 <- matrix(runif(NCols*NRows, min=10, max=50), ncol=NCols)
class(m2)
print(head(m2))

NCols = 3
m3 <- matrix(runif(NCols*NRows, min=100, max=200), ncol=NCols)
class(m3)
print(head(m3))

---
## **2.2 Merging matrices**
---

In [ ]:
# Merging matrices
dataset <- round(data.frame(m1, m2, m3),2)
print(head(dataset))

---
## **2.3 Get the column names**
---

In [ ]:
# Column names
names(dataset)

---
## **2.4 Get the total number of columns**
---

In [ ]:
# Total number of columns
NCols = ncol(m1) + ncol(m2) + ncol(m3)
NCols

In [ ]:
# Total number of columns in dataset
NCols = length(names(dataset))
NCols

---
## **2.5 Rename of columns**
---

In [ ]:
# Generate the sequence of numbers
c(1:NCols)

In [ ]:
# Concatinate with sequence
paste("F", c(1:NCols),sep='')

In [ ]:
# Rename of columns
names(dataset)<- paste("F",c(1:NCols),sep='')
print(head(dataset))

---
## **2.6 Writing dataset to the file**
---

In [ ]:
# Writing to the file
write.csv(dataset, file="NewDataset.csv", row.names=FALSE)
# Go to the path and check for file

---
## **2.7 Plotting the dataset**
---

In [ ]:
# Plot the dataset
plot(dataset)

---
## **2.8 Summary the dataset**
---

In [ ]:
summary(dataset)

---
# **3. Data selection in dataframe**
---
## **3.1 Read and head the dataset**
---

In [ ]:
# Read the dataset file
dataset = read.csv("NewDataset.csv")
head(dataset)

---
### **3.2 Select top 10 rows of F4, F6, F7 columns**
---

In [ ]:
dataset[1:10,c("F4","F6","F7")]  # returns a data.frame

---
### **3.3 Select bottom 10 rows of F4, F6, F7 columns**
---

In [ ]:
n = 10
s = (nrow(dataset)-n+1):nrow(dataset)
s

In [ ]:
dataset[s,c("F4","F6","F7")]  # returns a data.frame

---
### **3.4 Select random columns in dataframe**
---

In [ ]:
head(sample(dataset,3))
# Run the code again 2-3 times

In [ ]:
#To return 5 random rows
index <- sample(1:nrow(dataset), 5)
index
dataset[index,]

# Run the code again 2-3 times

---
### **3.5 Shuffle the data row wise.**
---

In [ ]:
dataset <- dataset[sample(nrow(dataset)),]
head(dataset)
# Run the code again 2-3 times

---
### **3.6 Divide the data into train and test**
---

In [ ]:
dataset = read.csv("NewDataset.csv")
totalDataset = nrow(dataset)
totalDataset
training = 70
training

In [ ]:
trainDataset <- dataset[1:(totalDataset * training/100),]
nrow(trainDataset)
head(trainDataset)

In [ ]:
testDataset <- dataset[(totalDataset * training/100):totalDataset,]
nrow(testDataset)
head(testDataset)

---
# **4. Plotting**
---
## **4.1 Basics of Plotting**

In [ ]:
# Generate random nubers
x <- round(runif(100, min = 1, max = 5),2)
x

In [ ]:
# Plot
plot(x)

In [ ]:
# Title in Plot
plot(x, main = "Plot of x against index 1, 2, ..., length(x)")

In [ ]:
# X,Y Labels
plot(x, main = "Plot of x against index 1, 2, ..., length(x)", xlab = "X Axis", ylab="Y Axis")

---
## **4.2 Bivariate Plot**
---

In [ ]:
# Bivariate 'scatter plot' of y vs x
y <- x^2 + runif(100)
plot(x, y, main = "Bivariate 'scatter plot' of y vs x")

---
## **4.3 Saving the Plot**
---

In [ ]:
# Saving the Plot to a file
getwd()   # Get the Current Working Directory, Similar to pwd in linux
png(filename="MyPlot.png")
plot(x, y, main = "Bivariate 'scatter plot' of y vs x",xlab = "X Axis", ylab="Y Axis")
dev.off()
# Go to the path and check for file

---
## **4.4 Other Plots**
---

In [ ]:
z1 <- list(x = x, y = y)
z1
class(z1)

In [ ]:
# Plot
plot(z1)

In [ ]:
# Variation in Plot
plot(z1, type = "l")  # l is for lines

---
## **4.5 Increasing Order Plotting**
---

In [ ]:
# Generate ording
print(x)
ord <- order(x)
print(ord)

In [ ]:
# Merge x, y
z <- list(x = x[ord], y = y[ord])
z

In [ ]:
# lines
plot(z, type = "l", main= "X vs Y", xlab = "X Axis", ylab="Y Axis")

In [ ]:
# Points and lines overlayed
plot(z, type = "o")

In [ ]:
# steps
plot(z, type = "s")

In [ ]:
# histogram-like
plot(z, type = "h")

---
## **4.6 Grid and a curve plotting**
---

In [ ]:
plot(z, type = "n")

# Uncomment each line and run
#grid(lty = 1, lwd = 2)
#curve(x^2, col = "blue", add = TRUE)
#curve(x^2 + 1, col = "blue", add = TRUE)
#points(z, pch = 20)

---
## **4.7 Grphical Parameters**
---

In [ ]:
plot(z, type = "o", col = 'red', pch = 16, cex = 2)

In [ ]:
plot(z, col = c('red', 'blue'), pch = "+", cex = 2)

---
## **4.8 Colors Plotting**
---

In [ ]:
# List of colors
colors()

In [ ]:
# default colours (palette)
palette()

In [ ]:
# Change palette colors
palette(sample(colors(), 10))
plot(runif(50), col = rep(1:10, each = 5), pch = 16, cex = 2)

# Re-run the code again

---
## **4.9 Histogram Plotting - Frequency Plotting**
---

In [ ]:
# create a grouping variable of length 100
a <- factor(sample(1:5, 100, replace = TRUE), levels = 1:5)
a
levels(a) <- LETTERS[1:5]
a

In [ ]:
# Histogram
plot(a)

In [ ]:
# Box Plot
plot(y ~ a)

---
## **4.10 Function Plotting**
---

In [ ]:
plot(sin, from = -2 * pi, to = 2 * pi)

In [ ]:
plot(cos, from = -2 * pi, to = 2 * pi)

In [ ]:
 # Sign function
 damped_sin <- function(x) sin(5 * x) * exp(-x^2)

In [ ]:
class(damped_sin)

In [ ]:
plot(damped_sin, from = -pi, to = pi)

---
# **5. Working with iris Dataset using dplyr**
---
## **5.1 Import the iris**

In [ ]:
data(iris)

In [ ]:
# Plot iris
plot(iris)

In [ ]:
# color by Species
plot(iris[1:4], col = as.numeric(iris$Species))

---
## **5.2 Library inclusion**
---

In [ ]:
# install.packages("dplyr")
library(dplyr)

# Re-run again

---
## **5.3 Working with Select()**
---

In [ ]:
#To select the following columns
selected <- select(iris, Sepal.Length, Sepal.Width, Petal.Length)
head(selected)

In [ ]:
#To select all columns from Sepal.Length to Petal.Length
selected1 <- select(iris, Sepal.Length:Petal.Length)
head(selected1)

In [ ]:
#To select columns with numeric indexes
selected1 <- select(iris,c(3:5))
head(selected1)

In [ ]:
#We use(-)to hide a particular column
selected <- select(iris, -Sepal.Length, -Sepal.Width)
head(selected)

---
## **5.4 Working with filter()**
---

In [ ]:
#To select the first 3 rows with Species as setosa
filtered <- filter(iris, Species == "setosa" )
head(filtered)

In [ ]:
#To select the last 5 rows with Species as versicolor and Sepal width more than 3
filtered1 <- filter(iris, Species == "versicolor", Sepal.Width > 3)
tail(filtered1)

---
## **5.5 Working with Mutate()**
---

In [ ]:
#To create a column Greater.Half which stores TRUE if given condition is TRUE
col1 <- mutate(iris, Greater.Half = Sepal.Width > 0.5 * Sepal.Length)
tail(col1)

In [ ]:
#To check how many flowers satisfy this condition
table(col1$Greater.Half)

---
## **5.6 Working with Arrange()**
---

In [ ]:
#To arrange Sepal Width in ascending order
arranged <- arrange(col1, Sepal.Width)
head(arranged)

In [ ]:
#To arrange Sepal Width in descending order
arranged <- arrange(col1, desc(Sepal.Width))
head(arranged)

---
## **5.7 Working with Arrange()**
---

In [ ]:
#To arrange Sepal Width in ascending order
arranged <- arrange(col1, Sepal.Width)
head(arranged)

---
# **6. Dataset Manipulation**
---
## **6.1 Merging Datasets (cbind, Colunm wise)**

In [ ]:
m1 <- matrix(c(1:9),c(3,3))
m2 <- matrix(c(10:18),c(3,3))
cbind(m1,m2)

---
## **6.2 Merging Datasets (rbind, Row wise)**
---

In [ ]:
rbind(m1,m2)

---
## **6.3 Merge Datasets (merge, Row wise)**
---

In [ ]:
names <- c('v1','v2','v3')
colnames(m1) <- names
colnames(m2) <- names
merge(m1,m2, by = names, all = TRUE)

---
## **6.4 Apply Datasets (apply())**
---

In [ ]:
# Sum the row wise
m1
apply(m1, 1, sum)

In [ ]:
# Sum the column wise
m1
apply(m1, 2, sum)

In [ ]:
# Mean the column wise
m1
apply(m1, 2, mean)

In [ ]:
# Square every value
square<-function(x) x * x

apply(m1, 2, square)

---
## **7. Model Evaluation Parameters for Regression and Classification using R**
---
- For Notebook **<a href="https://github.com/psrana/Model-Evaluation-Parameters-for-Regression-and-Classification" target="_blank"> Click Here</a>**

---
## **8. Multi-criteria decision making (MCDM) using Topsis**
---
- For Notebook **<a href="https://github.com/psrana/Topsis" target="_blank"> Click Here</a>**